<div class="top2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quaerat hic maiores distinctio iusto laboriosam itaque fuga ut sunt veniam a quos odio cupiditate laborum? Minima tempora quis tenetur delectus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores libero a architecto? Ipsum voluptatem repudiandae cupiditate tempore exercitationem error temporibus odit quaerat quos autem atque nemo blanditiis, sequi ut doloribus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore mollitia voluptate, molestias voluptates cum similique, labore expedita quisquam animi deserunt rem quos quas quae iure minima officia quaerat? Saepe?</p>
</div>