.con3 {
    display: flex;
}
.I1 {
    background-color:white;
    height: 100px;
    width: 50%;
    margin: 5px;
    border-radius: 5px;
    color: black;
    padding-left: 5px;
}
.con4 {
    background-color: whitesmoke;
    padding: 5px;
}