.top1 {
    padding-left: 23px;
}
.a {
    padding-right: 65%;
}
.b {
    padding-left: 23px;
    color: white;
}
.c {
    padding-left: 23px;
    padding-right: 23px;
    color: white;
}
.d {
    color: red;
    background-color: white;
}